<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clevertap.pushtemplates" >
    <application
        android:allowBackup="true"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >


        <activity android:name="com.clevertap.pushtemplates.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:launchMode="singleInstance" android:excludeFromRecents="true"
            android:taskAffinity="" android:theme="@style/Dialog"

            >
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

